body{
  background:url("../src/assets/background.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.logo{

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  width: 600px;
}

.nameH3{
  font-family: 'Oswald', sans-serif;
  font-size: 35px; 

}

p{
  font-family: 'Silkscreen', cursive;
  font-size: 18px;
}

.btn{
  margin-right: 10px;
  margin-bottom: 20px;
}

